body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:795px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:43px;
  width:583px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:583px;
  white-space:nowrap;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:104px;
  width:109px;
  height:23px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u43_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:104px;
  width:109px;
  height:23px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u44_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:104px;
  width:109px;
  height:23px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u45_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:104px;
  width:142px;
  height:23px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:124px;
  word-wrap:break-word;
}
#u46_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:104px;
  width:109px;
  height:23px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u47_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:3px;
}
