body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:957px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:868px;
  height:640px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:0px;
  width:868px;
  height:640px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:781px;
  height:442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:107px;
  width:781px;
  height:442px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:134px;
  width:182px;
  height:37px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  white-space:nowrap;
}
#u224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:181px;
  width:592px;
  height:22px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:592px;
  word-wrap:break-word;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:225px;
  width:462px;
  height:32px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u225_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:263px;
  width:462px;
  height:32px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u226_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:303px;
  width:462px;
  height:32px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u227_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:345px;
  width:462px;
  height:32px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u228_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:384px;
  width:462px;
  height:32px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:444px;
  word-wrap:break-word;
}
#u229_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:451px;
  width:154px;
  height:48px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:48px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:451px;
  width:154px;
  height:48px;
  font-family:'Baskerville Old Face';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:150px;
  word-wrap:break-word;
}
#u232 {
  position:fixed;
  left:50%;
  margin-left:-382px;
  top:6px;
}
#u232_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:764px;
  height:69px;
  background-image:none;
}
#u232_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:69px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:69px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:17px;
  width:55px;
  height:26px;
  font-size:18px;
  color:#091E1B;
}
#u235_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u235.mouseOver {
}
#u235_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 205, 230, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u235.selected {
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  white-space:nowrap;
}
#u236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:579px;
  top:17px;
  width:77px;
  height:26px;
  font-size:18px;
  color:#091E1B;
}
#u236_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u236.mouseOver {
}
#u236_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 205, 230, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u236.selected {
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
}
#u237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:17px;
  width:67px;
  height:26px;
  font-size:18px;
  color:#091E1B;
}
#u237_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u237.mouseOver {
}
#u237_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 205, 230, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u237.selected {
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  white-space:nowrap;
}
#u238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:17px;
  width:59px;
  height:26px;
  font-size:18px;
  color:#091E1B;
}
#u238_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u238.mouseOver {
}
#u238_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(82, 205, 230, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#091E1B;
}
#u238.selected {
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:55px;
  white-space:nowrap;
}
